.title{
    font-family:Verdana;
}

.content{
    text-align:center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button{
    cursor:pointer;
}

.submit_btn{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}


body {
   background-color:white;
}


.vertical_navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical_navbar li a{
    display: block;
    text-decoration: none;
    color: black;
}
.passwdinp{
    border-radius : 5px;
    border: 1px solid black;
    padding: 5px;
}
.defaultinp{
    border-radius : 5px;
    border: 1px solid black;
    padding: 5px;
}
.content_left{
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content_right{
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.horizontal_navbar li{

    padding: 10px;
    background-color: #eec682;
}


.horizontal_navbar li.nonhover:hover{
    display: inline;
    padding: 10px;
    background-color: #eec682;
    cursor: default;
}
.nonhover {
    cursor: default;

    font-family: Verdana;
}
.horizontal_navbar li:hover {
    display: inline;
    padding: 10px;
    background-color: #3f93ee;
    cursor: pointer;
}


.horizontal_navbar {
    background-color: #eec682;
    padding: 10px;

}

.horizontal_navbar li a{
    text-decoration: none;
    color: black;
    font-family : sans-serif, Verdana, Helvetica
}

.rounded {
    border-radius: 5px;
    border: black;
    padding: 7px;
}

.navbtn {
    background-color:transparent;
    border: 2px solid black;
    color: black;
}

.navbtn:hover {
    background-color:#ffb977;
    border: 2px solid black;
    color: black;
}

.vertnav{
    float: left;
    position: fixed;
}


.uifixes{
    text-align: center;

}

h1{
    font-family: sans-serif;
}

.nonlink {
    text-decoration:none;
}