.title{
    font-family:Verdana;
}

.content{
    text-align:center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}

.submit_btn{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}


body {
   background-color:white;
}

input {
   background-color: black; 
   border:none; 
   color: white; 
   padding: 3px;
}

input [type="submit"]{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}

.vertical_navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical_navbar li a{
    display: block;
    text-decoration: none;
    color: black;
}

.content_left{
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content_right{
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.horizontal_navbar li{
    display: inline;
    padding: 10px;
    background-color: #eec682;
}


.horizontal_navbar li.nonhover:hover{
    display: inline;
    padding: 10px;
    background-color: #eec682;
    cursor: default;
}

.horizontal_navbar li:hover {
    display: inline;
    padding: 10px;
    background-color: #3f93ee;
    cursor: pointer;
}


.horizontal_navbar {
    background-color: #eec682;
    padding: 10px;
}

.horizontal_navbar li a{
    text-decoration: none;
    color: black;
    font-family : sans-serif, Verdana, Helvetica
}