@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.title{
    font-family:Poppins;
}

.content{
    text-align:center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button{
    cursor:pointer;
}

.submit_btn{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}


body {
   background-color:white;
}


.vertical_navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical_navbar li a{
    display: block;
    text-decoration: none;
    color: black;
}
.passwdinp{
    /*border-radius : 5px;*/

    border:0;
    border-bottom: 1px solid #0032ee;
    outline:0;
    background:transparent;
    padding: 5px;
}
.defaultinp{
    /*border-radius : 5px;*/
    border: 0;
    outline: 0;
    border-bottom: 1px solid #0032ee;
    background:transparent;
    padding: 5px;
}
.swal2-styled.swal2-cancel{
    background-color: #0032ee !important;
}
.content_left{
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content_right{
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.horizontal_navbar li{

    padding: 10px;
    background-color: #eec682;
}


.horizontal_navbar li.nonhover:hover{
    display: inline;
    padding: 10px;
    background-color: #eec682;
    cursor: default;
}
.nonhover {
    cursor: default;
    font-family: Verdana;
}
.horizontal_navbar li:hover {
    display: inline;
    padding: 10px;
    background-color: #3f93ee;
    cursor: pointer;
}


.horizontal_navbar {
    background-color: #eec682;
    padding: 10px;

}

.horizontal_navbar li a{
    text-decoration: none;
    color: black;
    font-family : sans-serif, Verdana, Helvetica
}

.rounded {
    border-radius: 5px;
    border: black;
    padding: 7px;
}

.navbtn {
    color:white;
    border: 2px solid #0032ee;
    background-color:#0032ee;
    border-radius: 2px;
    transition:all 0.4s;
    text-align:center;
}

.vertnav{
    float: left;
    position: fixed;
    background-color: white;
    padding: 10px;
}
.vertnav b{
    color: #0032ee;
}
.vertnav button{
    color:white;
    border: 2px solid #0032ee;
    background-color:#0032ee;
    border-radius: 2px;
    transition:all 0.4s;
    text-align:center;

}
.vertnav button:hover{
    background-color:#0032ee;
    color:white;
    border: 2px solid #0032ee;
}
.vertnav button span {
    position:relative;
    transition: 0.4s;
    display: inline-block;
    font-family: "Fira Sans";
    text-align:center;
}
.vertnav span:after {
    top: 0;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}
.vertnav button:hover span:after{
    opacity:1;
    right: 0;
}

/*.vernav button:hover span{
    padding-right:25px;
}*/
.vertnav a{
    color:#0032ee;
    font-weight: bold;
}
.uifixes{
    text-align: center;

}

h1{
    font-family: sans-serif;
}

.nonlink {
    text-decoration:none;
    color: black;
    font-family: Poppins;
}

#recent_book {
}

.carousel {
   display: flex;
    flex-direction: row;
    overflow-x:auto;
}
.swal-modal {
    font-family: Poppins;
}

.navselect {
    background-color:transparent;
    border: 2px solid black;
    color: black;
}

.navselect:hover {
    background-color:#ffb977;
    border: 2px solid black;
    color: black;
    cursor:pointer;
}
