@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.title{
    font-family:Poppins, sans-serif;
}

.content{
    text-align:center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button{
    cursor:pointer;
}

.submit_btn{
    background-color:black;
    color:white;
    border:none;
    padding:7px;
    cursor:pointer;
}


body {
   background-color:white;
}


.vertical_navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical_navbar li a{
    display: block;
    text-decoration: none;
    color: black;
}
.passwdinp{
    /*border-radius : 5px;*/
    border:0;
    border-bottom: 2px solid #0032ee;
    outline:0;
    background:transparent;
    padding: 5px;
}
a{
    color:#0032ee;
    font-family:"Fira Sans", sans-serif;
}
.defaultinp{
    /*border-radius : 5px;*/
    border: 0;
    outline: 0;
    border-bottom: 2px solid #0032ee;
    background:transparent;
    padding: 5px;
}
.swal2-styled.swal2-cancel{
    background-color: #0032ee !important;
}

.content_right{
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.horizontal_navbar li{

    padding: 10px;
    background-color: #eec682;
}


.horizontal_navbar li.nonhover:hover{
    display: inline;
    padding: 10px;
    background-color: #eec682;
    cursor: default;
}
.nonhover {
    cursor: default;
    font-family: Verdana, sans-serif;
}
.horizontal_navbar li:hover {
    display: inline;
    padding: 10px;
    background-color: #3f93ee;
    cursor: pointer;
}


.horizontal_navbar {
    background-color: #eec682;
    padding: 10px;

}

.horizontal_navbar li a{
    text-decoration: none;
    color: black;
    font-family : sans-serif, Verdana, Helvetica
}

.rounded {
    border-radius: 5px;
    border: black;
    padding: 7px;
}

.navbtn {
    color:white;
    border: 2px solid #0032ee;
    background-color:#0032ee;
    border-radius: 2px;
    transition:all 0.4s;
    text-align:center;
}

.vertnav{
    float: left;
    position: fixed;
    background-color: white;
    padding: 10px;
    z-index: -1;

}
.vertnav b{
    color: #0032ee;
}
.vertnav button{
    color:white;
    border: 2px solid #0032ee;
    background-color:#0032ee;
    border-radius: 2px;
    text-align:center;

}
.vertnav button:hover{
    background-color:#0032ee;
    color:white;
    border: 2px solid #0032ee;
}

/*.vernav button:hover span{
    padding-right:25px;
}*/
.vertnav a{
    color:#0032ee;
    font-weight: bold;
}
.uifixes{
    text-align: center;
    margin:4%;
}

h1{
    font-family: sans-serif;
}

.nonlink {
    text-decoration:none;
    color: black;
    font-family: Poppins, sans-serif;
}

#recent_book {
    text-align:center;
    float:right;
}

.carousel {
   display: flex;
    flex-direction: row;
    overflow-x:auto;

}
.carousel ul {
    list-style:none;
    display:table;
    margin:0;
    padding:0;
}
.carousel li {
    min-width:500px;
    padding:10px 100px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;

}
.swal-modal {
    font-family: Poppins, sans-serif;
    border-radius:5px;
}
.swal-text {
    color:black;
}
.navselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:transparent;
    border:0;
    border-bottom: 2px solid #0032ee;
    color: black;
    border-radius:0;
}

.navselect:hover {
    cursor:pointer;
}

select::-ms-expand{
    display: none;
}

.whitetext {
    color:white;
}

.invert {
    filter: invert(100%)
}

.mono {
    -webkit-filter: grayscale(1) opacity(0.8) ;
    filter: grayscale(1);
}

.fvlogo {
    width:100%;
    height:100%;
}

.noRenew {
    cursor: not-allowed;
}

#noRenewTooltip {
    padding:5px;
    background-color: #efefef;
    border: 1px solid black;
    display:inline-block;
    position:absolute;
    visibility:hidden;
    margin-left: 10px;
    border-radius: 5px;
    color:red;
    font-family:Poppins, sans-serif;
    z-index: 1;
}

button.noRenew:hover + #noRenewTooltip{
    visibility: visible;
}

